<a [routerLink]="['/product', product.slug]">
  <div class="">
    <a>
      <div
        class="h-52 md:h-64 lg:h-80 rounded-md cursor-pointer overflow-hidden relative w-full hover:before:absolute hover:before:inset-0 hover:before:bg-dark hover:before:opacity-10"
      >
        <img
          [src]="product.imagen"
          [alt]="product.title"
          class="w-full h-full object-cover"
        />
      </div>
    </a>
  </div>
  <div class="flex flex-col pt-0 p-4 mt-2">
    <h2 class="text-textLight text-left">{{ product.title }}</h2>
    <div class="mt-2 flex items-center justify-between">
      <span>{{ product.price }}</span>
      <button
        class="flex items-center justify-center text-sm transition-colors border-main rounded w-7 h-7 md:w-9 md:h-9 text-heading bg-lightMain hover:bg-main hover:border-main hover:text-white focus:outline-none focus:bg-main focus:border-main focus:text-white"
      >
        <span class="sr-only">plus</span>
        <svg
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="md:w-4.5 h-3.5 w-3.5 stroke-2.5 md:h-4.5"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</a>
